<div style="pading: 20 ">
    <p style="color: #B20232"> По всем вопросам писать на почту.</p>
    <%= mail_to "nikita.slizhuk@gmail.com" do %>
        <span>nikita.slizhuk@gmail.com</span>
    <%end%>
</div>
